/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #07bc0c;
  --heading-color: #132742;
  --bg-gradient  : linear-gradient(90deg,
      rgb(36, 192, 60) 27%,
      rgb(63, 240, 78) 85%);
  --font-name: "Questrial", sans-serif;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}


/* reset default browser styles */

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);

}

h1,
h2,
h3 {
  font-weight: 700;
}

section {
  padding: 50px 0px;
}

a {
  text-decoration: none;
  color          : unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}


/* ================ */

.container {
  width  : 1140px;
  padding: 0px 15px;
  margin : auto;
}

.section__title {
  color      : var(--heading-color);
  font-weight: 700;
}
.feeback{
  height: auto;
}