.star-rating {
    display: inline-block;
    font-size: 2em;
    unicode-bidi: bidi-override;
    text-align: center;
    margin-left: 100px;
  }
  
  .star {
    display: inline-block;
    color: grey;
    cursor: pointer;
  }
  
  .star.selected {
    color: gold;
  }
  .selected-stars {
    font-size: 0.5em;
    color: grey;
  }