.btnRS{
    cursor: pointer;
    width: 100%;
    padding: 5px 20px;
    font-size: 15px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #35de47;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #d9d9d9;
  }
  .btnRS:hover{
    background-color: #3e8e41;
  }
  .btnRS:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }