.tilte-ad{
    font-size: 20px;
    margin-left: 30px;
    position: relative;
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 4px;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 46%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
}
@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 245px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 46%);
    }
    to {
      border-right-color: transparent;
    }
  }