.table {
   
}
.cellWrapper {
  display    : flex;
  align-items: center;
}
.bd-1{
  text-align: center;
  font-size: 20px;
}
.title-1{
  font-size: 20px;
  padding-top: 15px;
}
.title-2{
  font-size: 18px;
  padding-top: 15px;
  text-align: left;
}
.title-3{
  font-size: 18px;
  padding-top: 15px;
  text-align: left;
}
.sl-1{
  font-size: 18px;
  text-align: center;
  border: 2px rgb(10, 10, 10) solid;
  border-radius: 7px;
}
.title-4{
  font-size: 18px;
  text-align: left;
  padding-top: 15px;
}
.ip-1{
  width: 50px;
  border-radius: 7px;
  border: 2px black solid;
  text-align: center;
  font-size: 15px;
}
#appt-time{
  border: 2px black solid;
  border-radius: 7px;
  font-size: 17px;
}
.title-2-1{
  font-size: 18px;
  padding-top: 15px;
  text-align: left;
}
.tableCell{
  text-align: center;
}
  

