.DOAM{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.70);
    padding: 10px;
    margin-right: 30px;
    height: 300px;
    width: 100%;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        
        .title {
            font-size: 25px;
            font-weight: 500;
            
        }
    }
    .bottom{
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .doamChart{
            width: 150px;
            height: 100px;
        }
    }
    
}