.table {
  .cellWrapper {
    display    : flex;
    .image {
      width        : 32px;
      height       : 32px;
      border-radius: 50%;
      margin-right : 10px;
      object-fit   : cover;
    }
  }


  .status {
    padding      : 5px;
    border-radius: 5px;

    &.on {
      cursor: pointer;
      width: 20%;
      padding: 6px 5px;
      text-align: center;
      margin-right: 20px;
      outline: none;
      color: #fff;
      font-size: 15px;
      background-color: #35de47;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #d9d9d9;
    }
    &.on:hover{
      background-color: #356d37;
    }
    &.on:active{
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    &.off {
      cursor: pointer;
      width: 20%;
      padding: 6px 5px;
      text-align: center;
      margin-right: 20px;
      outline: none;
      color: #fff;
      font-size: 15px;
      background-color: #fc0606;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #d9d9d9;
    }
    &.off:hover{
      background-color: #8a3030;
    }
    &.off:active{
      background-color: #fc0606;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}

.fixLoading {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 160px;
}
.tableCell{
  font-weight: bold !important; 
}
.btn_thoat{
  cursor: pointer;
    width: 25%;
    padding: 15px 20px;
    text-align: center;
    margin-right: 20px;
    outline: none;
    color: #fff;
    font-size: 15px;
    background-color: #fc0606;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #d9d9d9;
}
.btn_thoat:hover{
  background-color: #8a3030;
}
.btn_thoat:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn_cn{
  cursor: pointer;
    width: 25%;
    padding: 15px 20px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #35de47;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0 9px #d9d9d9;
}
.btn_cn:hover{
  background-color: #3e8e41;
}
.btn_cn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}