.home{
    display: flex;
    width: auto;
    .homeContainer{
        width: 100%;
    }
    .bangnhiet{
        display: flex;
        margin-left: 20px;
        padding-top: 40px;
        padding-right: 20px;
        width: auto;
    }
    .wt{
        margin-left: 20px;
        padding-top: 30px;
    }
    .ft{
        border-top: 0.5px solid rgb(156, 149, 149);
        padding-top: 20px;

    }
}