.home{
    display: flex;
    width: auto;
    margin-left: 20px;
    .homeContainer{
        width: 98%;
    }
        .ChartsND{
            padding-top: 20px;
            display: flex; 
        }
        .ChartsWT{
        }
}